package domain

import (
	"{{.Page}}/{{.Server}}/internal/repository"
)

type {{serverNameFunc .Server}}Domain struct {
	repository *repository.Repository
}

func New{{serverNameFunc .Server}}Domain(repository *repository.{{serverNameFunc .Server}}Repository) *Domain {
	return &{{serverNameFunc .Server}}Domain{repository: repository}
}
