package repository

import (
	"github.com/long250038728/web/tool/app"
)

type {{serverNameFunc .Server}}Repository struct {
	util *app.Util
}

func New{{serverNameFunc .Server}}Repository(util *app.Util) *Repository {
	return &Repository{util: util}
}
