package service

import (
	"{{.Page}}/activity/internal/domain"
	"github.com/long250038728/web/tool/server/rpc/tool"
)

type Service struct {
	{{.Server}}.UnimplementedactivityServer
	tool.GrpcHealth
	domain *domain.Domain
}

type activityServerOpt func(s *Service)

func SetDomain(domain *domain.Domain) activityServerOpt {
	return func(s *Service) {
		s.domain = domain
	}
}

func NewService(opts ...activityServerOpt) *Service {
	s := &Service{}
	for _, opt := range opts {
		opt(s)
	}
	return s
}
