package service

import (
	"{{.Page}}/{{.Server}}/internal/domain"
	"{{.Protoc}}/{{.Server}}"
	"github.com/long250038728/web/tool/server/rpc/tool"
)

type Service struct {
	{{.Server}}.Unimplemented{{serverNameFunc .Server}}Server
	tool.GrpcHealth
	domain *domain.Domain
}

type {{serverNameFunc .Server}}ServerOpt func(s *Service)

func SetDomain(domain *domain.Domain) {{serverNameFunc .Server}}ServerOpt {
	return func(s *Service) {
		s.domain = domain
	}
}

func NewService(opts ...{{serverNameFunc .Server}}ServerOpt) *Service {
	s := &Service{}
	for _, opt := range opts {
		opt(s)
	}
	return s
}
