//1.合并kobe kobe改tag         构建
//2.合并locke                  构建
//3.其他项目合并
//3.商户管家合并

{{$token := .Token}}
{{$kobe := .Kobe}}
{{- range $index,$item := .Features}}
============================{{ $index }} pr合并 ================================
curl -X POST --header 'Content-Type: application/json;charset=UTF-8' \
'{{$item.Addr}}' \
-d '{"access_token":"{{$token}}","merge_method":"merge"}'

{{- if  objectName $item.Addr "kobe"}}

!!!!!!!!!!改tag!!!!!!!!!!

======= 构建: =======
{{- range $kobe_index,$kobe_item := $kobe}}
curl -X POST http://111.230.143.16:8081/job/{{$kobe_item}}/buildWithParameters \
--user admin:11fbfc1aab366147522f497f6c7d48b2ca \
--data-urlencode "BRANCH=master" \
--data-urlencode "SYSTEM=root@172.16.0.34"

curl -X POST http://111.230.143.16:8081/job/{{$kobe_item}}/buildWithParameters \
--user admin:11fbfc1aab366147522f497f6c7d48b2ca \
--data-urlencode "BRANCH=master" \
--data-urlencode "SYSTEM=root@172.16.0.9"

{{end}}
{{- end }}
{{- if  objectName $item.Addr "locke"}}

== 构建: ==
curl -X POST http://111.230.143.16:8081/job/locke-prod_32/build \
--user admin:11fbfc1aab366147522f497f6c7d48b2ca

curl -X POST http://111.230.143.16:8081/job/locke-prod_64/build \
--user admin:11fbfc1aab366147522f497f6c7d48b2ca

curl -X POST http://111.230.143.16:8081/job/locke-hot-prod-64/build \
--user admin:11fbfc1aab366147522f497f6c7d48b2ca
{{ end }}
{{end}}


