{{$token := .GiteeToken}}
{{range $index,$item := .Features}}
curl -X POST --header 'Content-Type: application/json;charset=UTF-8' \
'https://gitee.com/api/v5/repos/{{ $item.Addr }}/branches' \
-d '{"access_token":"{{ $token}}","refs":"{{ $item.Source }}","branch_name":"{{ $item.Feature}}"}'
{{end}}