apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{.Server}}-{{.Version}}-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{.Server}}
  template:
    metadata:
      labels:
        app: {{.Server}}
    spec:
      containers:
        - name: {{.Server}}-container
          image: {{.Hub}}/{{.Server}}:{{.Version}}
          ports:
            - containerPort: {{.Http}}
            - containerPort: {{.Grpc}}

---
apiVersion: v1
kind: Service
metadata:
  name: {{.Server}}
spec:
  selector:
    app: {{.Server}}
  ports:
    - protocol: TCP
      port: {{.Http}}
      targetPort: {{.Http}}
      name: {{.Server}}-port-{{.Http}}
    - protocol: TCP
      port: {{.Grpc}}
      targetPort: {{.Grpc}}
      name: {{.Server}}-port-{{.Grpc}}
  type: ClusterIP